[Unit]
Description=Immich Redis broker

[Container]
Image=docker.io/library/redis:8
ContainerName=immich-redis
Network=exousia.network:alias=immich-redis
Volume=immich-redis-data.volume:/data
Label=io.containers.autoupdate=registry

HealthCmd=redis-cli ping || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=10s

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
