[Unit]
Description=Immich machine learning
After=immich-redis.service
Requires=immich-redis.service

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:release
ContainerName=immich-ml
Network=exousia.network:alias=immich-ml
Volume=immich-ml-cache.volume:/cache
Label=io.containers.autoupdate=registry

HealthCmd=python3 -c import urllib.request; urllib.request.urlopen('http://localhost:3003/ping') || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=30s

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
