[Unit]
Description=Paperless-ngx Redis broker

[Container]
Image=docker.io/library/redis:8
ContainerName=paperless-redis
Volume=paperless-redis-data.volume:/data
Network=exousia.network:alias=paperless-redis
Label=io.containers.autoupdate=registry

HealthCmd=redis-cli ping || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=10s

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
