[Unit]
Description=Plane scheduled worker
After=plane-api.service plane-db.service plane-redis.service plane-mq.service plane-minio.service
Requires=plane-api.service plane-db.service plane-redis.service plane-mq.service plane-minio.service

[Container]
Image=docker.io/makeplane/plane-backend:stable
ContainerName=plane-beat-worker
Exec=./bin/docker-entrypoint-beat.sh
Network=exousia.network
PodmanArgs=--env-file=/etc/exousia/plane/plane.env
Label=io.containers.autoupdate=registry

[Service]
Restart=always
TimeoutStartSec=300

# [Install]
# WantedBy=default.target
