[Unit]
Description=Plane RabbitMQ broker
After=exousia-network.service
Requires=exousia-network.service

[Container]
Image=docker.io/library/rabbitmq:3.13.6-management-alpine
ContainerName=plane-mq
PublishPort=127.0.0.1:15672:15672
Volume=plane-mq-data.volume:/var/lib/rabbitmq
Network=exousia.network
PodmanArgs=--env-file=%h/.config/exousia/plane/plane.env
Label=io.containers.autoupdate=registry

[Service]
Restart=always
TimeoutStartSec=180

[Install]
WantedBy=default.target
