{
	local_certs
}

(authelia) {
	forward_auth authelia:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
	}
}

auth.exousia.local {
	tls internal
	reverse_proxy authelia:9091
}

forgejo.exousia.local {
	tls internal
	import authelia
	reverse_proxy forgejo:3000
}

paperless.exousia.local, docs.exousia.local {
	tls internal
	@api path /api/*
	reverse_proxy @api paperless:8000
	import authelia
	reverse_proxy paperless:8000
}

ollama.exousia.local {
	tls internal
	reverse_proxy ollama:11434
}

ai.exousia.local {
	tls internal
	import authelia
	reverse_proxy open-webui:8080
}

temporal.exousia.local {
	tls internal
	import authelia
	reverse_proxy temporal-ui:8080
}

registry.exousia.local {
	tls internal
	reverse_proxy registry:5000
}

home.exousia.local {
	tls internal
	import authelia
	reverse_proxy dashy:8080
}


photos.exousia.local {
	tls internal
	import authelia
	reverse_proxy immich:2283
}

headscale.exousia.local {
	tls internal
	import authelia
	reverse_proxy headscale:8080
}

changes.exousia.local {
	tls internal
	import authelia
	reverse_proxy changedetection:5000
}

status.exousia.local {
	tls internal
	reverse_proxy uptime-kuma:3001
}
