{
	local_certs
}

forgejo.exousia.local {
	tls internal
	reverse_proxy forgejo:3000
}

plane.exousia.local {
	tls internal
	reverse_proxy plane-proxy:8080
}

ollama.exousia.local {
	tls internal
	reverse_proxy ollama:11434
}

ai.exousia.local {
	tls internal
	reverse_proxy open-webui:3080
}

temporal.exousia.local {
	tls internal
	reverse_proxy temporal-ui:8233
}

registry.exousia.local {
	tls internal
	reverse_proxy registry:5000
}

docs.exousia.local {
	tls internal
	reverse_proxy bookstack:8080
}

home.exousia.local {
	tls internal
	reverse_proxy homepage:3000
}
