[Unit]
Description=Update chezmoi dotfiles
After=chezmoi-init.service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/chezmoi update --no-tty %CHEZMOI_UPDATE_ARGS%
