[Unit]
Description=Update chezmoi dotfiles
After=chezmoi-init.service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/git -C %h/.local/share/chezmoi config remote.origin.url %CHEZMOI_REPO%
ExecStart=/usr/bin/chezmoi update --no-tty %CHEZMOI_UPDATE_ARGS%
